/*positions*/
/*static*/
/*relative*/
/*fixed*/
/*absolute*/
/*sticky*/

.position{
    height: 500px;
    width: 500px;
    background-color: brown;
    border: 3px solid black;
}

.static{
    position: static;
}

.relative{
    position: relative;
    background-color: cadetblue;
    top: 100px;
    left: 50px
}

.absolute{
    position: absolute;
    height: 200px;
    width: 200px;
    right: 0px;
    top: 0px;
    background-color: rgb(135, 59, 145);
}

.mini-div{
    height: 50px;
    width: 50px;
    top: 50px;
    left: 100px;
}

.fixed{
    position:fixed;
    height: 200px;
    background-color: rgb(184, 147, 27);
    bottom: 0px;
    right: 0px;
}